/build
/core/build
/core/src/test/resources/scenery/saved/
/app/debug
/app/release
/app/build
/desktop/build
/save
/local
/export

/*.so
/core/*.so
/*.jpg
/*.png
/*.iml

/.idea
/.gradle
local.properties
/core/src/main/resources/Models/Wagon/wagon.blend1
