<configuration scan="false" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.rvandoosselaer" level="info"/>
    <logger name="com.rvandoosselaer.blocks.shapes.Liquid" level="error" />
    <logger name="com.rvandoosselaer.blocks.ChunkCache" level="info"/>
    <logger name="com.rvandoosselaer.blocks.BlockRegistry" level="error"/>
    <logger name="org.delaunois.ialon" level="info"/>
    <logger name="org.delaunois.ialon.ChunkManager" level="info"/>
    <logger name="org.delaunois.ialon.ChunkPager" level="error"/>
    <logger name="org.delaunois.ialon.PhysicsChunkPager" level="error"/>
    <logger name="org.delaunois.ialon.ChunkLightManager" level="info"/>
    <logger name="org.delaunois.ialon.state.PlayerState" level="info"/>
    <logger name="org.delaunois.ialon.control.SunControl" level="info"/>
    <logger name="com.jme3.input.InputManager" level="info"/>
    <logger name="com.simsilica.lemur.input.InputMapper" level="info"/>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
